/* 
Colors to use

Greens
314d4e
76b4ac
Warm low saturated Yellow
e5decf
Warm oranges - Highlight Colo
e5decf
e36b76
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
    background-color: #e36b76;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    margin: 0;
    background-color: #e5decf;
    height: 10vh;
}
header > h1{
    position: relative;
    top: 22%;
    left: 5%;
    margin: 0;
}
.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.project-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(190, 234, 147);
    height: 50vh;
    width: 75%;
    max-width: 956px;
    margin-top: 10px;
    filter: drop-shadow(10px 10px 4px#314d4e);
}
.project-info-layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.project-info{
    width: 45%;
}
.project-title{
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 2%;
    font-size: 30pt;
}
.project-container > .image-container{
    display: flex;
    box-sizing: content-box;
    width: 68%;
    display: flex;
    justify-content: flex-end;
}
div.image-container > img{
/* .project-container > .image-container > img{ */
    box-sizing: content-box;
    width: 90%;
    /* height: 80%; */
    max-width: 400px;
}