/* 
Colors to use

Greens
314d4e
76b4ac
Warm low saturated Yellow
e5decf
Warm oranges - Highlight Colo
e5decf
e36b76
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');
body{
    background-color: #e36b76;
    font-family: 'Roboto', sans-serif;
}
.project-container{
    border-radius: 10px;
    background-color: rgb(190, 234, 147);
    height: 36vh;
    width: 75%;
    margin-top: 10px;
    filter: drop-shadow(10px 10px 4px#314d4e);
}